
// BEGIN Contact Information Box
// Displays the Contact Information nicely
.contactBox {
  border-left: 2px solid #00BFFF;
  font-size: 1em;
  line-height: 1.5;
  margin-left: 0;
  padding-left: 3px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

// Allows the table to look nice
.contactBox > table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border: 0 solid transparent;
}

// Makes the table rows look nice
.contactBox > table tr {
  display: table-row-group;
  vertical-align: center;
  border: 0 solid transparent;
}

// Makes it so that the cells are nicely aligned
.contactBox > table td {
  text-align: left;
  border: 0 solid transparent;
}

// Gives a little space for the links
.contactBox table tr td a{
  padding-left: 6px;
 }

// END Contact Information Box

// BEGIN Project Information Box
.projectBox {
  display: flex;
  //border: 0 solid transparent;
  width: 100%;
}

.projectBox tr {
  border: 0 solid transparent;
}

.projectBox td {
  border: 0 solid transparent;
}

.projectBox td {
  text-align: left;
  vertical-align: top;
}

.projectBox td a {
  padding-left: 10px;
}

.projectDesc {
  padding-left: 10px;
}

.projectImage {
  flex: 1 1 auto;
}

.projectDescription {
  flex-direction: column;
  flex: 1 0 auto;
}

.projectIcon {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}


// END Project Information Box